.container {
  height: calc(100vh - var(--menu-height));
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 75% 25%;
  grid-template-areas: "upper-left upper-right" "lower-left lower-right";
}

.products {
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.recommendations {
  grid-area: auto;
  display: flex;
  flex-direction: row;
}
