<h2 class="inline">Book Details</h2>
<h2 class="inline pull-right"><a goto='../-@detailsport'>❌</a></h2>

<div class="details-header">

    <div class="publishing-details">
        <div class="title">
            ${book.title}
        </div>

        <div>
            ${book.author}, ${book.published}
        </div>

        <div>
            ${book.genre}
        </div>
    </div>

    <div class="cover-image">
        <img src.bind="cover" />
    </div>

</div>


<div class="description">
    ${book.description}
</div>