.column {
  width: 40%;
  height: calc(100% - var(--line-height-menu) - 3 * var(--padding-normal));
  margin: var(--padding-normal);
}

.books-view {
  position: fixed;
  left: 0;
}

.books-list {
  overflow-y: auto;
  height: calc(100% - 3 * var(--padding-normal));
}

.details-header {
  margin-bottom: var(--padding-normal);
}

.cover-image {
  display: inline-block;
  max-width: 192px;
}

/* resize images */
.cover-image img {
  width: 100%;
  height: auto;
}

.publishing-details {
  margin-right: var(--padding-normal);
  display: inline-block;
  vertical-align: top;
  text-align: end;
}

.details-view {
  position: fixed;
  right: 0;
}

.box {
  width: calc(100% - 3 * var(--padding-normal));
  border: 1px solid black;
  padding: var(--padding-normal);
  background-color: #301020;
  margin-bottom: var(--padding-small);
}

.title {
  font-weight: 600;
  font-size: larger;
}