:root {
  --padding-normal: 32px;
  --padding-small: 16px;
  --line-height-menu: 24px;
  --color-bg-main: #eeeeee;
  --color-fg-main: #333333;
  --color-fg-link: #aa23cc;
}

body {
  height: calc(100vh - 2 * var(--padding-normal));
  background-color: var(--color-bg-main);
  color: var(--color-fg-main);
  margin: 0px;
  padding: var(--padding-normal);
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: var(--color-fg-link);
  text-decoration: none;
}

.menu {
  font-size: large;
}

.menu a {
  margin-right: var(--padding-small);
}

.menu .goto-active {
  text-decoration: underline;
}