:root {
  --padding-normal: 32px;
  --padding-small: 16px;
  --line-height-menu: 24px;
  --color-bg-main: #eeeeee;
  --color-bg-header: #71108a;
  --color-bg-header-detail: #961eb4;
  --color-fg-main: #333333;
  --color-fg-link: #aa23cc;
  --color-fg-header: #eeeeee;
}

body {
  height: calc(100vh - 2 * var(--padding-normal));
  background-color: var(--color-bg-main);
  color: var(--color-fg-main);
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: var(--color-fg-link);
  text-decoration: none;
}

.menu {
  font-size: large;
  padding: var(--padding-normal);
}

.menu a {
  margin-right: var(--padding-small);
}

.menu .goto-active {
  text-decoration: underline;
}

.page {
  padding: var(--padding-normal);
}

.header {
  background-color: var(--color-bg-header);
  color: var(--color-fg-header);
}

.header .title {
  font-size: x-large;
  padding: var(--padding-normal);
}

.header-detail {
  background-color: var(--color-bg-header-detail);
  color: var(--color-fg-header);
}

.header-detail .title {
  font-size: x-large;
  padding: var(--padding-normal);
}

