nav {
  height: 100%;
  font-family: var(--font-family--header);
  text-transform: uppercase;
  display: inline-block;
}

nav a {
  color: var(--color--primary-dark-foreground);
  display: inline-block;
  padding: var(--padding-default);
  text-decoration: none;
}

.cart {
  float: right;
  height: 100%;
}

.cart img {
  display: inline-block;
  height: calc(100% - 2 * var(--padding-small));
  padding: var(--padding-small);
  padding-right: var(--padding-default);
}
