/* {} [] */
nav {
  height: var(--menu-height);
  background-color: var(--color--primary-dark-background);
  color: var(--color--primary-dark-foreground);
}

nav a {
  color: var(--color--primary-dark-foreground);
  display: inline-block;
  padding: var(--padding-default);
  text-decoration: none;
}
