<div class="container">
  <div class="header">
    <div class="heading">
      STATS
    </div>
  </div>

  <div class="stats">
    <div class="stat-row">
      <span class="quantity">Mass</span>
      <span class="measurement">${calculatedMass}</span>
    </div>
    <div class="stat-row">
      <span class="quantity">Height</span>
      <span class="measurement">${calculatedHeight}</span>
    </div>
    <div class="stat-row">
      <span class="quantity">Sensor Color</span>
      <span class="measurement">${droid.sensorColor}</span>
    </div>
    <div class="stat-row">
      <span class="quantity">Product Line</span>
      <span class="measurement">${droid.productLine}</span>
    </div>
    <div class="stat-row">
      <span class="quantity">Manufacturer</span>
      <span class="measurement">${droid.manufacturer}</span>
    </div>
  </div>
</div>
