.droid-component {
  padding: var(--padding-default);
}

.heading {
  padding: 16px;
}

blockquote {
  position: relative;
  display: inline-block;
  background: #eee;
  padding: 40px 30px 30px 60px;
  border-radius: 10px;
  font-family: "Bitter", serif;
  color: #333;
  text-align: left;

  box-shadow: 1px 1px 1px #999, 2px 2px 1px #999, 3px 3px 1px #999;
  transition-duration: 0.3s;
}

blockquote:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  content: '"';
  font-size: 120px;
  color: #999;
}
