<article>
  <div class="droid-component">
    <img src.bind="imgSource" />

    <div class="image-info-card">
      <div class="model">${droid.model}</div>
      <div class="manufacturer">${droid.manufacturer}</div>
    </div>

    <div class="specs-card">
      <h2>${droid.class}</h2>
      <div class="class"></div>
      <div class="armaments">${droid.armament}</div>
      <div class="equipment">${droid.equipment}</div>
      <div class="sensor-color">Sensor: ${droid.sensorColor}</div>
      <div class="plating-color">Plating: ${droid.platingColor}</div>
      <div class="specs">
        <b>Height</b> ${droid.height | heightF}
        <br />
        <b>Mass</b> ${droid.mass | massFormater}
      </div>

      <div class="price">
        Price <br />
        ${droid.price}
      </div>
    </div>

    <!-- <blockquote class="about">${droid.about}</blockquote> -->
  </div>
</article>
