article {
  display: inline-block;
  width: 650px;
  color: var(--color--primary-bright-foreground);
  padding-top: var(--padding-default);
  padding-bottom: calc(3 * var(--padding-default));
  padding-right: calc(3 * var(--padding-default));
  height: calc(100% - 4 * var(--padding-default));
}

.droid-component {
  background-color: var(--color--primary-dark-foreground-emphasize);
  height: calc(100% - 3 * var(--padding-default));
  padding: calc(2 * var(--padding-default));
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "upper-left upper-right" "mid-left mid-right" "lower-left lower-right";
  box-shadow: 20px 10px black;
}

.droid-component img {
  grid-area: upper-left / 1 / mid-left;
  max-width: 400px;
  max-height: 300px;
  margin: auto;
}

.image-info-card {
  grid-area: lower-left;
  margin-top: auto;
  font-family: var(--font-family--header);
}

.model {
  font-size: 48pt;
  line-height: 52pt;
  color: var(--color--primary-bright-foreground-de-emphasize);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
}

.manufacturer {
  font-size: 28pt;
  line-height: 32pt;
  color: var(--color--primary-bright-foreground-de-emphasize);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
}

.specs-card {
  grid-area: 1 / 2 / 3 / 2;
  line-height: 2rem;
  overflow: auto;
}

.price {
  grid-area: lower-right;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  font-family: var(--font-family--header);
}

.price img {
  vertical-align: middle;
  height: 70px;
}

.price .amount {
  margin-top: 14px;
  font-size: x-large;
}

/* MOVE?  */

blockquote {
  position: relative;
  display: inline-block;
  background: #eee;
  padding: 40px 30px 30px 60px;
  border-radius: 10px;
  font-family: "Bitter", serif;
  color: #333;
  text-align: left;
  box-shadow: 1px 1px 1px #999, 2px 2px 1px #999, 3px 3px 1px #999;
  transition-duration: 0.3s;
}

blockquote:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  content: '"';
  font-size: 120px;
  color: #999;
}
