.column {
  width: 40%;
  height: 100%;
  margin: 16px;
}

.books-view {
  position: fixed;
  left: 0;
}

.details-header {
  margin-bottom: 16px;
}

.cover-image {
  display: inline-block;
  max-width: 192px;
}

/* resize images */
.cover-image img {
  width: 100%;
  height: auto;
}

.publishing-details {
  display: inline-block;
}

.details-view {
  position: fixed;
  right: 0;
}

.box {
  width: 400px;
  border: 1px solid black;
  padding: 16px;
  background-color: #301020;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: larger;
}