<div class="container">
  <div class="header">
    <div class="heading">
      STATS
    </div>
  </div>

  <div class="stats">
    <div class="stat-row">
      <span class="label">Product Line</span>
      <span class="value">${legend.productLine}</span>
    </div>

    <div class="stat-row">
      <span class="label">Manufacturer</span>
      <span class="value">${legend.manufacturer}</span>
    </div>

    <div class="stat-row">
      <span class="label">Mass</span>
      <!-- code here! -->
      <span class="value">${calculatedMass}</span>
    </div>

    <div class="stat-row">
      <span class="label">Height</span>
      <!-- code here! -->
      <span class="value">${calculatedHeight}</span>
    </div>

    <div class="stat-row">
      <span class="label">Sensor Color</span>
      <span class="value">${legend.sensorColor}</span>
    </div>
  </div>
</div>
