body {
  height: calc(100vh - 32px);
  background-color: #200020;
  color: #ffffff;
  margin: 0px;
  padding: 16px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #dddddd;
  text-decoration: none;
}
