body {
  height: 100vh;
  background-color: #200020;
  color: #ffffff;
  margin: 0px;
  padding: 16px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #dddddd;
  text-decoration: none;
}

.box {
  width: 400px;
  border: 1px solid black;
  padding: 16px;
  background-color: #301020;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: larger;
}